<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h5></h5>
                <ul>
                    <li><a href="#">Votre premier cours</a></li>
                    <li><a href="#">Hatha Yoga</a></li>
                    <li><a href="#">Cours en Visio</a></li>
                    <li><a href="#">Témoignages</a></li>
                </ul>
                
            </div>
            <div class="footer-col">
                <h5>Informations</h5>
                <ul>
                    <li><a href="#">Présentation de Karine</a></li>
                    <li><a href="#">Horaires et tarifs</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>Contact</h5>
                
                <ul>
                    <li> <a href="#">MarGaYoga</a></li>
                    <li> <a href="#">Marquette-lez-Lille</a></li>
                    <li> <a href="#">06.73.88.56.61</a></li>
                    <li><a href="mailto:karine.desto@hotmail.fr"><i class="fa-solid fa-envelope"></i> contact@margayoga.fr</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h5>Suivez-moi !</h5>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>