<div class="top_bar_area top-bar-expand-lg bg-dark text-light">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-lg-6 info "> 
                    <li class="li " ><i class="fa-solid fa-location-dot"></i> 96 rue d'Ypres, 59250 Marquette-lez-Lille</li>
                    <li> <a href="#" style="text-decoration: none;"><i class="fa-solid fa-envelope"></i>  contact@margayoga.fr</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right item-flex">
                <div class="social">
                     <li>
                        <a class="nav-link" href="https://www.facebook.com/search/top?q=margayoga">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <li >
                        <a  href="#"><i class="fa-sharp fa-solid fa-location-dot"></i></a>
                    </li>
                
                </div>
                   
            </div>
        </div>
    </div>
</div>