.footer {
    background-color: #24262b;
    padding: 70px 0;

}

.container{
    max-width:  1170px;
     /* background-color: red;  */
    margin: auto;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* ul li a{
    text-decoration: none;
   color: #e5caf5;
} */

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h5{
    color: #e5caf5;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footer-col h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
} 

.footer-col ul li{
    color: #e5caf5;
    margin-bottom: 10px;
}


.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #e5caf5;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    padding-left: 8px;
}