{% extends "base.html.twig" %}

{% block title %}Formulaire envoyé !{% endblock %}


{% block body %}

<style>
.content{
    box-sizing: border-box;
    width: 100%;
    padding: 15% 20%;
    {# background: blue; #}
}


    


</style>

<div class="content">
    Formulaire envoyé avec l'adresse : {{email}}
</div>

   
{% endblock %}